.toggle-checkbox:checked {
  @apply right-0 border-green-400;
  right: 0;
  border-color: #68D391;
}

.toggle-checkbox:checked + .toggle-label {
  @apply bg-green-400;
  background-color: #68D391;
}

.code {
  @apply dark:bg-green-900 bg-yellow-200 p-[2px] rounded bg-opacity-30 shadow-md;
}

@keyframes r1{
  0% {height: 2px;}
  100% {height: 30px;}
}

@keyframes r2{
  0% {height: 25px;}
  100% {height: 2px;}
}

@keyframes r3{
  0% {height: 10px;}
  100% {height: 30px;}
}

#rect1 {
  animation: r1 5s infinite alternate;
}

#rect2 {
  animation: r2 3s infinite alternate;
}

#rect3 {
  animation: r3 4s infinite alternate;
}
